.title {
    font-family: var(--font-comforter);
    color: var(--orange);
    font-size: 24px;
    text-transform: capitalize;

    @media screen and (min-width:992px) {
        font-size: 44px;
    }
}

.minititle {
    font-family: var(--font-comforter);
    color: var(--orange);
    font-size: 24px;
    text-transform: capitalize;

    @media screen and (min-width:992px) {
        font-size: 30px;
    }
}

.secondheading {
    font-family: var(--font-abril);
    color: var(--black);
    font-size: 28px;
    text-transform: capitalize;

    @media screen and (min-width:992px) {
        font-size: 43px;
    }
}

.middleheading {
    font-family: var(--font-abril);
    color: var(--white);
    font-size: 24px;
    text-transform: capitalize;
    margin-top: -5px;

    @media screen and (min-width:992px) {
        font-size: 30px;
    }
}

.paragraph {
    color: var(--gray);
    font-size: 18px;
    line-height: 30px;
}

.btn {
    display: inline-block;
    width: 134px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 8px;
    font-weight: 700;
    text-transform: capitalize;
    transition: 0.2s linear;

    &__blue {
        border: 2px solid var(--skyblue);
        background-color: var(--skyblue);
        color: var(--white);

        &:hover,
        &:focus {
            border: 2px solid var(--skyblue);
            background-color: transparent;
            color: var(--skyblue);
        }
    }

    &__gray {
        border: 2px solid var(--gray);
        background-color: transparent;
        color: var(--gray);

        &:hover,
        &:focus {
            border: 2px solid var(--skyblue);
            background-color: transparent;
            color: var(--skyblue);
        }
    }    
}

.img-responsive {
    display: block;
    width: 100%;
}

.link{
    color:var(--gray);
    text-transform: capitalize;
    transition: 0.4s linear;

    &:hover,
    &:focus{
        color:var(--white);
    }
}
